body{
    margin: 0em;
    background-color: white;
    background-image: url(../img/rodinei.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

#pag{
    width: 1000px;
    margin: auto;
    color: black;
    background-color: bisque;
}

header{
    background-color: coral;
    background-image: url(../img/images.jfif);
    background-size: 100% 100%;
    color: bisque;
    height: 13em;
    max-width: 100%;
    padding: 2em;
    text-align: right;
}